/* 12 grid */
.pb-size, .pb-size1of12, .pb-size2of12, .pb-size3of12, .pb-size4of12, .pb-size5of12, .pb-size6of12, .pb-size7of12, .pb-size8of12, .pb-size9of12, .pb-size10of12, .pb-size11of12, .pb-size12of12, .pb-psize1of12, .pb-psize2of12, .pb-psize3of12, .pb-psize4of12, .pb-psize5of12, .pb-psize6of12, .pb-psize7of12, .pb-psize8of12, .pb-psize9of12, .pb-psize10of12, .pb-psize11of12, .pb-psize12of12 { overflow: hidden; float: left; margin-right: -100%; display: block; }

.pb-size1of12 { width: 100; }

.pb-size2of12 { width: 50; }

.pb-size3of12 { width: 33.33333; }

.pb-size4of12 { width: 25; }

.pb-size5of12 { width: 20; }

.pb-size6of12 { width: 16.66667; }

.pb-size7of12 { width: 14.28571; }

.pb-size8of12 { width: 12.5; }

.pb-size9of12 { width: 11.11111; }

.pb-size10of12 { width: 10; }

.pb-size11of12 { width: 9.09091; }

.pb-size12of12 { width: 8.33333; }

.pb-psize1of12 { width: 100; }

.pb-psize2of12 { width: 50; }

.pb-psize3of12 { width: 33.33333; }

.pb-psize4of12 { width: 25; }

.pb-psize5of12 { width: 20; }

.pb-psize6of12 { width: 16.66667; }

.pb-psize7of12 { width: 14.28571; }

.pb-psize8of12 { width: 12.5; }

.pb-psize9of12 { width: 11.11111; }

.pb-psize10of12 { width: 10; }

.pb-psize11of12 { width: 9.09091; }

.pb-psize12of12 { width: 8.33333; }

/* 12 grid */
