.pb-alignl {
	text-align: $posLeft;
}
.pb-alignc {
	text-align: center
}
.pb-alignr {
	text-align: $posRight;
}
.pb-valignt {
	vertical-align: $posTop;
}
.pb-valignm {
	vertical-align: middle
}
.pb-valigntb {
	vertical-align:text-bottom
}