.pb-block {
	display: block
}
.pb-inline {
	display: inline
}
.pb-inblock {
	display: inline-block
}
.pb-none {
	display: $none;
}
.pb-table {
	display: table
}
.pb-table-tr {
	display: table-row
}
.pb-table-td {
	display: table-cell
}